body {
    font-family: 'Trebuchet MS';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

body, html {
    height: 100%;
}

main {
    flex: 1;
}

.container {
    width: 95%;
    margin: 0 auto;
}

.container1 {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 60px;
}

header {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.home {
    background-color: rgb(0, 119, 255);
    color: #ffffff;
    padding: 10px;
    border-radius: 20px 0;
    box-shadow: 0 0 1px 0 white;
}

header div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header div h1 {
    margin: 0;
    font-size: 1.6em;
    background-color: rgb(0, 119, 255);
    border-radius: 0 15px;
    padding: 4px 12px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 40px;
}

nav ul li a {
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
    font-size: 1.3em;
}

nav ul li a:hover {
    background-color: rgb(0, 119, 255);
    color: #ffffff;
    padding: 3px 7px;
    border-radius: 20px;
}

header hr {
    box-shadow: 0 0 10px 0 black;
}

.hero {
    margin-top: 90px;
    text-align: center;
    padding: 60px 20px;
}

.hero h2 {
    color: rgb(0, 119, 255);
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 4.5em;
}

.hero div p {
    font-weight: 700;
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 0 auto;
    width: 60%;
}

#delayedParagraph {
    display: none;
}

.hero .text-container {
    position: relative;
    height: 150px;
    overflow: hidden;
    margin-bottom: 20px;
}

.sliding-text {
    position: absolute;
    width: 100%;
    transform: translateY(100%);
    animation: slideUp 2s forwards;
}

.sliding-text:nth-child(2) {
    top: 80px;
}

@keyframes slideUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.hero p {
    font-size: 1.2em;
    margin: 20px 0;
}

h3 {
    font-size: 2rem;
    margin-left: 7%;
    margin-bottom: 0;
}

.cards {
    /* margin-left: 15%; */
    display: flex;
    margin: 0 auto;
    width: 79%;
}

.cards div {
    padding: 0;
    margin: 0;
}
hr {
    padding: 0;
    margin: 0;
}

h4 {
    font-size: 1.8rem;
    color: rgb(0, 119, 255);
}

footer {
    background-color: rgb(0, 119, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px 0;
    font-weight: 800;
    margin: 0;
}
footer div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer div ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

footer div ul li {
    margin: 0 20px;
}

.fl {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

a {
    text-decoration: none;
    color: white;
}